@charset "utf-8";


/*stylesheet for the whole body, including background color and color for characters,

due to the specificity, single element selector has the lowest value (0-0-0-1) compared to others, 

using it to declare the general style of the whole page to avoid the repeat declaration*/
body{
	box-sizing: border-box;
	color: #791B99;
	width: 100%;
	margin: 0px;
	background-color: #A993FF;
}


/*general style for the header and footer, mainly on padding, font and using flex,

in order to avoid repeat declaration, use single element selector with the value of 0-0-0-1,

the content in <header> and <footer> elements will inherit the partial declaration of the 
parent element (<body>) since there is no conflicts*/
header, footer{
	display: flex;
	padding: 1vh 1vw;
	font-weight: bold;
	font-family: 'Quattrocento', serif;
}


/*class selector with the value of 0-0-1-0, 

select all elements with the class 'universityName',
 
the content will inherit the partial property values of the parent,

use class selector because the specificity value is high enough to 
declare the style of university name (font size, alignment, layout)
and protect it from other declarations,

the content of this class uses flex, setting the grow factor as 1, the shrink 
factor as 1 and the initial size as 15% of parent item on main-axis (row),

the browser is set to pack the item from the start by justify-content*/
.universityName{
	display: flex;
	flex: 1 1 15%;
	font-size: 3vw;
	flex-flow: row wrap;
	justify-content: flex-start;
}


/*class selector with the value of 0-0-1-0, 

select all elements with the class 'libraryTitle',

the content will inherit the partial property values of the parent,

use class selector because the specificity value is high enough to 
declare the style of library title (font size, alignment, layout) 
and protect it from other declarations,

the content of this class uses flex, setting the grow factor as 1, the shrink 
factor as 1 and the initial size as 20% of parent item on main-axis (row),

the browser is set to pack the item from the start by justify-content,

there is also a white shadow for the item through text-shadow*/
.libraryTitle{
	display: flex;
	flex: 1 1 20%;
	font-size: 6vw;
	flex-flow: row wrap;
	justify-content: flex-start;
	text-shadow: 0.2rem 0.2rem 0.2rem white;
}


/*element selector with the value of 0-0-0-3,

select all <img> elements in the <p> inside <header> and <footer>,

the content will inherit the partial property values of its parent,

use three elements for each selector to declare the size and layout,

although the specificity value is not high but it is enough*/
header p img, footer p img{
	width: 6vw;
	height: 6vw;
	padding-left: 2vw;
}


/*element selector with the value of 0-0-0-1, select the element <aside>,

the content will inherit the partial property values of its parent,

declare the size, layout and font of the side bar, making it on the left 
of the page by float and its text in the centre of the side bar*/
aside{
	width: 30%;
	padding: 0px;
	height: 90vh;
	float: left;
	font-size: 3vw;
	font-weight: bold;
	text-align: center;
	font-family: 'Quattrocento', serif;
}


/*class selector with the value of 0-0-1-0,

select all elements with the class 'navigation',

the content will inherit the partial property values of its parent, but
cover the competing properties (font-size, font-weight and font-family)
since the specificity value is higher than 0-0-0-1

declare the font and layout of the content , removing the list-item 
marker by list-style-type: none*/
.navigation{
	font-size: 2vw;
	padding-left: 0px;
	font-weight: normal;
	list-style-type: none;
	font-family: 'Quattrocento Sans', sans-serif;
}


/*class and element selector with the value of 0-0-1-1,

select all <li> elements in the element with the class 'navigation',

the content will inherit the partial property of its parent like font,

specify the mouse cursor while pointing at the item by cursor: pointer*/
.navigation li{
	cursor: pointer;
	padding-top: 2vh; 
}


/*class and pseudo-class selector with the value of 0-0-2-0,

select all elements matching <li> that is a descendant of element with 
class 'navigation' when the mouse over them or click on them,

the content will inherit the partial property of its parent, but 
the color, font-weight and font-style of the items will be changed 
due to the higher specificity value*/
.navigation li:hover,.navigation li:active{
	font-weight: bold;
	font-style: italic;
	color: #9A55B2;
}


/*id selector with the value of 0-1-0-0,

select the element with id 'content_container',

the content will inherit the partial property of its parent,

declare the size, layout of the main part by float, making its text in the centre,

because of the importance of the main part, use the highest specificity value*/
#content_container{
	float: left;
	text-align: center;
	width: 70%;
	height: 90vh;
}


/*element and class selector with the value of 0-0-1-1,

select the element with class 'universityName' in <footer>,

the content will inherit the partial property of its parent and apply some 
early declaration,

since the specificity value is a little higher than 0-0-1-0, the item is 
packed to the end of the container by justify-content and align-items, which
covers the original position*/
footer .universityName{
	justify-content: flex-end;
	align-items: flex-end;
}


/* this .css has passed the validation checking by the W3C CSS Validation Service 
with no errors finally, available at: https://jigsaw.w3.org/css-validator/validator 

for re-validating this page in the future the URI is:

http://jigsaw.w3.org/css-validator/validator$link
or
http://jigsaw.w3.org/css-validator/check/referer (for HTML/XML document only) */